<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          asp-href-include="lib/bootstrap/dist/**/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <title>MyBudget</title>
</head>
<body>
    <div class="navbar navbar-dark bg-dark" role="navigation">
        <a class="col navbar-brand text-center" href="/Home/Index">MyBudget</a>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="text-info">Welcome @User.Identity.Name</div>
            <a asp-controller="Account" asp-action="Logout" class="btn btn-sm btn-dark">Logout</a>
        }
        else
        {
            <div class="text-info">Welcome Guest</div>
            <a asp-controller="Account" asp-action="Login" class="btn btn-sm btn-dark">Login</a>
        }
    </div>
<div class="row m-1 p-1">
    <div id="categories" class="col-3">
        <div>
            <a asp-controller="BankAccount" asp-action="List" class="btn btn-block btn-info">Bank Accounts</a>
            <a asp-controller="Income" asp-action="List" class="btn btn-block btn-info">Incomes</a>
            <a asp-controller="Expense" asp-action="List" class="btn btn-block btn-info">Expenses</a>
            <a asp-controller="Crypto" asp-action="List" class="btn btn-block btn-info">Crypto</a>
        </div>
    </div>
    <div class="col-9">
        @RenderBody()
    </div>
</div>
</body>
</html>
