@model HomeViewModel


<table class="table table-primary">
    <thead class="text-center">
    <tr>
        <th>Left to pay:</th>
        <th>Left to receive:</th>
        <th>Left to spend:</th>
    </tr>
    </thead>
    <tbody class="text-center">
    <tr>
        <td>
            @Model.CalculateLeftToPay().ToString("c")
        </td>
        <td>
            @Model.CalculateLeftToReceive().ToString("c")
        </td>
        <td>
            @Model.CalculateLeftToSpend().ToString("c")
        </td>
    </tr>
    </tbody>
</table>
<div class="text-center">
</div>